@import models.nonresident.CurrentIncomeModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(currentIncomeForm: Form[CurrentIncomeModel])(implicit request: Request[_])

@sidebar = {
    <ul>
        <li>
            <a id="helpLink1" class="external-link" rel="external" href="https://www.gov.uk/income-tax/overview"
                target="_blank" data-journey-click="help:govUK:incomeTaxOverview">
                @Messages("calc.currentIncome.link.one")
                <span class="visuallyhidden">@Messages("calc.base.externalLink")</span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a id="helpLink2" class="external-link" rel="external" href="https://www.gov.uk/income-tax-rates/previous-tax-years"
                target="_blank" data-journey-click="help:govUK:previousTaxYears">
                @Messages("calc.currentIncome.link.two")
                <span class="visuallyhidden">@Messages("calc.base.externalLink")</span>
            </a>
        </li>
    </ul>
}

@main_template(Messages("calc.currentIncome.question"), sidebarLinks = Some(sidebar)) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.CustomerTypeController.customerType">Back</a>

    @errorSummary(currentIncomeForm, "current-income")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = controllers.nonresident.routes.CalculationController.submitCurrentIncome) {

        @formInputMoney(currentIncomeForm, "currentIncome", Messages("calc.currentIncome.question"),Some(Messages("calc.currentIncome.helpText")))

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}
