@import models.nonresident.CurrentIncomeModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(currentIncomeForm: Form[CurrentIncomeModel])(implicit request: Request[_])

@helpContent = {
    <span class="form-hint">@Messages("calc.currentIncome.helpText.line1")</span>
    <span class="form-hint">@Messages("calc.currentIncome.helpText.line2")</span>
}

@main_template(Messages("calc.currentIncome.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.CustomerTypeController.customerType">Back</a>

    @errorSummary(currentIncomeForm, "current-income")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = controllers.nonresident.routes.CurrentIncomeController.submitCurrentIncome) {

        @formInputMoney(
            inputForm = currentIncomeForm,
            fieldName = "currentIncome",
            questionText = Messages("calc.currentIncome.question"),
            additionalHTMLContent = Some(helpContent.body)
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}
