@import models.nonresident.DisposalValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(disposalValueForm: Form[DisposalValueModel])(implicit request: Request[_])

@contentLink = {
    <a id="lossesLink" class="external-link" rel="external" href="https://www.gov.uk/capital-gains-tax/losses"
       target="_blank" data-journey-click="help:govUK:disposal-cgt-losses">
        @Messages("calc.disposalValue.bullet.two.link")
        <span class="visuallyhidden">@Messages("calc.base.externalLink")</span>
    </a>
}

@bulletContent = {
    <p id="bullet-list-title">@Messages("calc.disposalValue.bullet.title") </p>
    <ul class="list-bullet">
        <li>@Messages("calc.disposalValue.bullet.one")</li>
        <li>@Messages("calc.disposalValue.bullet.two") @contentLink</li>
        <li>@Messages("calc.disposalValue.bullet.three")</li>
    </ul>
}

@main_template(Messages("calc.disposalValue.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.CalculationController.disposalDate">@Messages("calc.base.back")</a>

    @errorSummary(disposalValueForm, "disposal-value")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = controllers.nonresident.routes.CalculationController.submitDisposalValue) {

        @formInputMoney(disposalValueForm, "disposalValue", Messages("calc.disposalValue.question"), additionalHTMLContent = Some(bulletContent.toString()))

        <button id="continue-button" class="button">@Messages("calc.base.button.continue")</button>

    }
}