@import models.nonresident.RebasedValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(rebasedValueForm: Form[RebasedValueModel])(implicit request: Request[_])

@hiddenHelpTextContent = {
    <p>@Messages("calc.rebasedValue.helpHidden.content")</p>
    <p>@Messages("calc.rebasedValue.helpHidden.contentTwo")</p>
}

@main_template(Messages("calc.nonResident.rebasedValue.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.AcquisitionValueController.acquisitionValue">@Messages("calc.base.back")</a>

    @errorSummary(rebasedValueForm, "rebased-value", "rebasedValueAmt")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = controllers.nonresident.routes.RebasedValueController.submitRebasedValue) {

        <input class="visuallyhidden" id="hasRebasedValue" name="hasRebasedValue" value="Yes">

        @formInputMoney(rebasedValueForm, "rebasedValueAmt", Messages("calc.nonResident.rebasedValue.question"), helpText = Some(Messages("calc.nonResident.rebasedValue.inputHelpText")), hideLabel = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

        @hiddenHelpText("rebasedValue", Messages("calc.rebasedValue.helpHidden.title"), hiddenHelpTextContent)

    }
}