@import models.nonresident._
@import constructors.nonresident.SummaryConstructor
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.helpers._

@(otherReliefsForm: Form[OtherReliefsModel])(implicit request: Request[_])

@main_template(Messages("calc.otherReliefs.questionTwo")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.ImprovementsController.improvements">@Messages("calc.base.back")</a>

    @errorSummary(otherReliefsForm, "other-reliefs", "otherReliefs")

    <h1 class="heading-xlarge">@Messages("calc.otherReliefs.questionTwo")</h1>

    <div class="form-group">
        @form(action = controllers.nonresident.routes.OtherReliefsController.submitOtherReliefs) {

        @formInputMoney(otherReliefsForm,
            "otherReliefs",
            Messages("calc.otherReliefs.questionTwo"),
            hideLabel = true,
            helpText = Some(s"${Messages("calc.otherReliefs.help")}\n${Messages("calc.otherReliefs.helpTwo")}"))

        <button class="button" class="button" id="continue-button">@Messages("calc.base.button.continue")</button>
    }

    </div>
}