@import models.nonresident.RebasedValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(rebasedValueForm: Form[RebasedValueModel], hasAcquisitionDate: String)(implicit request: Request[_])

@hiddenHelpTextContent = {
    <p>@Messages("calc.rebasedValue.helpHidden.content")</p>
    <p>@Messages("calc.rebasedValue.helpHidden.contentTwo")</p>
}

@main_template(Messages("calc.rebasedValue.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.AcquisitionValueController.acquisitionValue">Back</a>

    @errorSummary(rebasedValueForm, "rebased-value", "rebasedValueAmt")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

        @form(action = controllers.nonresident.routes.CalculationController.submitRebasedValue) {

        @formHiddenYesNoRadio(
                rebasedValueForm,
                "hasRebasedValue",
                Messages("calc.rebasedValue.question"),
                formInputMoney(
                        rebasedValueForm,
                        "rebasedValueAmt",
                        Messages("calc.rebasedValue.questionTwo")
                ),
                if (hasAcquisitionDate.equals("No")) {Some(Messages("calc.rebasedValue.helpText"))}
                else{None}
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

        @hiddenHelpText("rebasedValue", Messages("calc.rebasedValue.helpHidden.title"), hiddenHelpTextContent)

    }
}