@import models.AnnualExemptAmountModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(annualExemptAmountForm: Form[AnnualExemptAmountModel])(implicit request: Request[_])

@import views.html.helpers._

@sidebar = {
    <a id="helpLink1" class="external-link" rel="external" href="https://www.gov.uk/capital-gains-tax/allowances" target="_blank" data-journey-click="help:govUK:allowances">
        @Messages("calc.annualExemptAmount.link.one")
        <span class="visuallyhidden">@Messages("calc.base.externalLink")</span>
    </a>
}

@main_template(Messages("calc.annualExemptAmount.question"), sidebarLinks = Some(sidebar)) {

    <a id="back-link" class="back-link" href="@routes.CalculationController.otherProperties">Back</a>

    @errorSummary(annualExemptAmountForm, "annual-exempt-amount")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = routes.CalculationController.submitAnnualExemptAmount) {

        @formInputMoney(annualExemptAmountForm, "annualExemptAmount", Messages("calc.annualExemptAmount.question"))

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}