@import models.DisposalValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(disposalValueForm: Form[DisposalValueModel])(implicit request: Request[_])

@main_template(Messages("calc.disposalValue.question")) {

    <a id="back-link" class="back-link" href="@routes.CalculationController.disposalDate">@Messages("calc.base.back")</a>

    @errorSummary(disposalValueForm, "disposal-value")

    <h1 class="heading-large">@Messages("calc.base.calculate.tax.heading")</h1>

    @form(action = routes.CalculationController.submitDisposalValue) {

        @formInputMoney(disposalValueForm, "disposalValue", Messages("calc.disposalValue.question"), Some(Messages("calc.disposalValue.hint")))

        <button id="continue-button" class="button">@Messages("calc.base.button.continue")</button>

    }
}