@import models.OtherPropertiesModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(otherPropertiesForm: Form[OtherPropertiesModel], backUrl: String)(implicit request: Request[_])

@helpTextWithLink = {
    @Messages("calc.otherProperties.questionTwo.helpText.start")
    <a id="helpTextLink" class="external-link" rel="external" href="https://www.gov.uk/capital-gains-tax/work-out-need-to-pay" target="_blank">
        @Messages("calc.otherProperties.questionTwo.helpText.linkText")
    </a>
}

@hiddenYesNoContent = {

    @formInputMoney(
        otherPropertiesForm,
        "otherPropertiesAmt",
        Messages("calc.otherProperties.questionTwo"),
        Some(helpTextWithLink.toString())
    )
}

@sidebar = {
    <ul>
        <li>
            <a id="helpLink1" class="external-link" rel="external" href="https://www.gov.uk/capital-gains-tax" target="_blank">@Messages("calc.otherProperties.link.one")</a>
        </li>
        <li>
            <a id="helpLink2" class="external-link" rel="external" href="https://www.gov.uk/income-tax-rates/previous-tax-years" target="_blank">@Messages("calc.otherProperties.link.two")</a>
        </li>
    </ul>
}

@main_template(Messages("calc.otherProperties.question"), sidebarLinks = Some(sidebar)) {

    <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

    @errorSummary(otherPropertiesForm, "other-properties")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = routes.CalculationController.submitOtherProperties) {

        <legend>
            <p>@Messages("calc.otherProperties.question")</p>
            <p>@Messages("calc.otherProperties.thisIncludes")</p>
            <ul class="list list-bullet">
                <li>@Messages("calc.otherProperties.thisIncludes.bulletOne")</li>
                <li>@Messages("calc.otherProperties.thisIncludes.bulletTwo")</li>
                <li>@Messages("calc.otherProperties.thisIncludes.bulletThree")</li>
            </ul>
        </legend>
        <div class="inline form-group">
            @formHiddenYesNoRadio(
                otherPropertiesForm,
                "otherProperties",
                "",
                hiddenYesNoContent
            )

        </div>
        <button class="button" type="submit" id="continue-button" >@Messages("calc.base.continue")</button>
    }
}