@import models.OtherReliefsModel
@import constructors.SummaryConstructor
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.helpers._

@(otherReliefsForm: Form[OtherReliefsModel], result: CalculationResultModel, hasExistingReliefAmount: Boolean, backUrl: String, flatOnlyOption: Boolean)(implicit request: Request[_])

@hiddenYesNoContent = {
    <ul class="list">
        <li id="totalGain">@SummaryConstructor.gainMessage(result)
            <b> &pound;@{MoneyPounds(result.totalGain,0).quantity}</b>
        </li>

        <li id="taxableGain">@{if (result.taxableGain >= 0) Messages("calc.otherReliefs.taxableGain")
            else Messages("calc.summary.calculation.details.lossCarriedForward")
            }
            <b> &pound;@{MoneyPounds(result.taxableGain,0).quantity}</b>
        </li>
    </ul>

    @formInputMoney(otherReliefsForm, "otherReliefs", Messages("calc.otherReliefs.question"))

}

@main_template(Messages("calc.otherReliefs.questionTwo")) {

    <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

    @errorSummary(otherReliefsForm, "other-reliefs-flat")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = routes.CalculationController.submitOtherReliefs) {

        <label for="otherReliefs">@Messages("calc.otherReliefs.questionTwo")</label>

        <span class="form-hint">@Messages("calc.otherReliefs.help")</span>

        @formHiddenYesNoRadio(
            otherReliefsForm,
            "isClaimingOtherReliefs",
            "",
            hiddenYesNoContent
        )

        @if(hasExistingReliefAmount) {
            <button id="add-relief-button" class="button">@Messages("calc.otherReliefs.button.updateRelief")</button>
        } else {
            <button id="add-relief-button" class="button">@Messages("calc.otherReliefs.button.addRelief")</button>
        }
    }
}