@import models.OtherReliefsModel
@import constructors.SummaryConstructor
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.helpers._

@(otherReliefsForm: Form[OtherReliefsModel], result: CalculationResultModel, hasExistingReliefAmount: Boolean, backUrl: String)(implicit request: Request[_])

@main_template(Messages("calc.otherReliefs.question")) {

    <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

    @errorSummary(otherReliefsForm, "other-reliefs-flat")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @form(action = routes.CalculationController.submitOtherReliefs) {

        <label for="otherReliefs">@Messages("calc.otherReliefs.question")</label>

        <div class="panel-indent">
            <ul class="list list-bullet">
                <li id="totalGain">&pound;@{MoneyPounds(result.totalGain,0).quantity}<br><span class="font-xsmall">@SummaryConstructor.gainMessage(result)</span></li>

                <li id="taxableGain">&pound;@{MoneyPounds(result.taxableGain,0).quantity}<br><span class="font-xsmall">@{
                    if (result.taxableGain >= 0) Messages("calc.otherReliefs.taxableGain")
                    else Messages("calc.summary.calculation.details.lossCarriedForward")
                    }</span></li>
            </ul>
        </div>

        @formInputMoney(otherReliefsForm, "otherReliefs", "", Some(Messages("calc.otherReliefs.help))

        @if(hasExistingReliefAmount) {
            <button id="add-relief-button" class="button">@Messages("calc.otherReliefs.button.updateRelief")</button>
        } else {
            <button id="add-relief-button" class="button">@Messages("calc.otherReliefs.button.addRelief")</button>
        }
    }
}