@import uk.gov.hmrc.play.views.html.helpers.form
@import models.resident.AllowableLossesValueModel
@import views.html.helpers._

@(allowableLossesValueForm: Form[AllowableLossesValueModel])(implicit request: Request[_])

@resident_main_template(
    title = Messages("calc.resident.allowableLossesValue.title"),
    backLink = Some(controllers.resident.routes.DeductionsController.allowableLosses().toString)
){

    <h1 class="heading-large">@Messages("calc.resident.allowableLossesValue.question")</h1>

    @form(action = controllers.resident.routes.DeductionsController.submitAllowableLossesValue){

        @formInputMoney(allowableLossesValueForm, "amount", Messages("calc.resident.allowableLossesValue.question"), hideLabel = true)

        <button id="continue-button" class="button" type="submit">@Messages("calc.base.continue")</button>

    }
}