@import views.html.helpers.resident._
@import models.SummaryDataItemModel
@import models.resident._
@import common.Dates._
@import constructors.resident.SummaryConstructor._
@import controllers.resident.routes.{GainController => routes}

@(answers: YourAnswersSummaryModel, gain: BigDecimal)(implicit request: Request[_])

@resident_main_template(
    title = Messages("calc.resident.summary.title"),
    backLink = Some(controllers.resident.routes.GainController.improvements().toString),
    articleLayout = false
) {

    <h1>
        <span class="pre-heading">@Messages("calc.resident.summary.pageHeading")</span>
        &pound;0.00
    </h1>

    <!-- Calculation Details Section -->
    <section id="calcDetails">
        <!-- Header -->
        @summarySectionHeaderHelper(Messages("calc.resident.summary.calcDetailsHeading"))

        <!-- Data Rows -->
        @summaryNumericRowHelper("gain",gainMessage(gain),gain)
    </section>

    <!-- Your Answers Section -->
    <section id="yourAnswers">
        <!-- Header -->
        @summarySectionHeaderHelper(Messages("calc.resident.summary.yourAnswersHeading"))

        <!-- Data Rows-->
        @summaryDateRowHelper("disposalDate",Messages("calc.resident.disposalDate.question"),answers.disposalDate,Some(routes.disposalDate().toString))
        @summaryNumericRowHelper("disposalValue",Messages("calc.resident.disposal.value.title"),answers.disposalValue,Some(routes.disposalValue().toString))
        @summaryNumericRowHelper("disposalCosts",Messages("calc.resident.disposalCosts.title"),answers.disposalCosts,Some(routes.disposalCosts().toString))
        @summaryNumericRowHelper("acquisitionValue",Messages("calc.resident.acquisitionValue.title"),answers.acquisitionValue,Some(routes.acquisitionValue().toString))
        @summaryNumericRowHelper("acquisitionCosts",Messages("calc.resident.acquisitionCosts.title"),answers.acquisitionCosts,Some(routes.acquisitionCosts().toString))
        @summaryNumericRowHelper("improvements",Messages("calc.resident.improvements.title"),answers.improvements,Some(routes.improvements().toString))
    </section>

    @if(dateInsideAcceptedTaxYears(getDay(answers.disposalDate), getDay(answers.disposalDate), getYear(answers.disposalDate))) {

        <section id="whatToDoNext" class="summary-underline summary-overline">
            <h3 id="whatToDoNextTitle" class="bold-medium">@Messages("calc.resident.summary.whatNext")</h3>
            <p id="whatToDoNextText">@Messages("calc.resident.summary.whatNext.youCan") <a id="whatToDoNextLink"
                                                                                           class="external-link"
                                                                                           rel="external"
                                                                                           href="https://www.gov.uk/tax-sell-property/what-you-pay-it-on"
                                                                                           target="_blank"
                                                                                           data-journey-click="help:govUK:CapitalGainsWhatToDoNext">@Messages("calc.resident.summary.whatNext.link")</a> @Messages("calc.resident.summary.whatNext.text")</p>
            <span id="opensInANewTab" class="visuallyhidden">@Messages("calc.base.externalLink")</span>
        </section>

    }

}