@import models.resident.ImprovementsModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(improvementsForm : Form[ImprovementsModel])(implicit request: Request[_])

@main_template(title = Messages("calc.resident.improvements.title")) {
    <div class="panel panel-border-wide">
        <p>@Messages("calc.resident.improvements.note")</p>
    </div>

    @form(action = controllers.resident.routes.GainController.improvements) {

        @formInputMoney(improvementsForm, "amount", Messages("calc.resident.improvements.label"), Some(Messages("calc.resident.improvements.hint")), labelAsHeading = Some(true))

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}