@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.calculation.resident._
@import models.resident._

@(taxYear: TaxYearModel)(implicit request: Request[_])

@resident_main_template(Messages("calc.resident.outsideTaxYears.title"), backLink = Some(controllers.resident.properties.routes.GainController.disposalDate().toString)) {

    <h1 class="heading-large">@Messages("calc.resident.outsideTaxYears.title")</h1>

    <p class="lede">@Messages("calc.resident.outsideTaxYears.message", taxYear.calculationTaxYear)</p>

    <a href="@controllers.resident.properties.routes.GainController.disposalValue.toString()" id="continue-button" class="button">@Messages("calc.base.button.continue")</a>

}