@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import models.resident.ReliefsModel

@(reliefsForm: Form[ReliefsModel])(implicit request: Request[_])

@main_template(title = Messages("calc.resident.reliefs.title")) {

    <a id="back-link" class="back-link" href="@controllers.resident.routes.GainController.improvements.toString()">@Messages("calc.base.back")</a>

    <h1>@Messages("calc.resident.reliefs.question")</h1>

    @form(action = controllers.resident.routes.DeductionsController.submitReliefs) {

        @formInputRadioGroup(
            field = reliefsForm("isClaiming"),
            Seq(
            "Yes"->Messages("calc.base.yes"),
            "No"->Messages("calc.base.no")),
            '_legend -> Messages("calc.resident.reliefs.question"),
            '_legendID -> "isClaiming",
            '_legendClass -> "visuallyhidden",
            '_helpText -> Messages("calc.resident.reliefs.helpText"),
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_groupClass -> "inline"
        )
    }
}