@import uk.gov.hmrc.play.views.helpers._

@(rowId: String, question: String, amount: BigDecimal, link: Option[String] = None)

<div id="@rowId" class="grid-layout grid-layout--stacked form-group font-medium">
    <div id="@{rowId}-question" class="grid-layout__column grid-layout__column--1-2">
        @question
    </div>
    <div id="@{rowId}-amount" class="grid-layout__column grid-layout__column--1-2">
        <span class="bold-medium">&pound;@MoneyPounds(amount.abs,0).quantity</span>
        @if(link.isDefined){<br><a href="@link" class="font-xsmall">@Messages("calc.base.change")</a>}
    </div>
</div>