@import common.Dates
@import constructors.SummaryConstructor
@import uk.gov.hmrc.play.views.helpers._
@import views.html.helpers._

@(summary: SummaryModel, result: CalculationResultModel, backUrl: String)(implicit request: Request[_])

@main_template(Messages("calc.summary.title"), articleLayout = false) {

    <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

    @*
    *  Calculated Tax Owed
    *@
    <div data-metrics="summary:customer-type:@summary.customerTypeModel.customerType">
        <h1 class="heading-xlarge heading-xxlarge">
            <span class="heading-secondary">@Messages("calc.summary.secondaryHeading")</span>
            <b>&pound;@MoneyPounds(result.taxOwed).quantity</b>
        </h1>
    </div>

    @(if (!Dates.dateInsideTaxYear(summary.disposalDateModel.day, summary.disposalDateModel.month, summary.disposalDateModel.year)) taxYearWarningNotice())

    <div class=font-medium" data-metrics="summary:calc-election:@summary.calculationElectionModel.calculationType">

    @SummaryConstructor.calculationDetails(result, summary)

    @SummaryConstructor.personalDetails(result, summary)

    @SummaryConstructor.acquisitionDetails(result, summary)

    @SummaryConstructor.propertyDetails(result, summary)

    @SummaryConstructor.saleDetails(result, summary)

    @SummaryConstructor.deductions(result, summary)

    </div>


    <div class="grid-layout__column grid-layout__column--2-3" data-metrics="summary:relief-type:@summary.reliefApplied()">

        @*
        *  What to do next
        *@
        <div id="whatToDoNext" class="form-group">
            <h2 class="heading-medium">@Messages("calc.common.next.actions.heading")</h2>
            <p>
                @Messages("calc.summary.next.actions.text")
                <a class="external-link" rel="external" href="https://www.gov.uk/guidance/capital-gains-tax-for-non-residents-uk-residential-property"
                    target="_blank" data-journey-click="nav:calc:kana-nrcgt">
                    @Messages("calc.summary.next.actions.link")
                    <span class="visuallyhidden">@Messages("calc.base.externalLink")</span>
                </a>
            </p>
        </div>

        @*
        *  Start Again
        *@
        <a id="startAgain" class="bold-medium" href="@controllers.nonresident.routes.CalculationController.restart" data-journey-click="nav:calc:restart">@Messages("calc.summary.startAgain")</a>

    </div>
}