@import models.nonresident.QuestionAnswerModel
@import java.time._
@import uk.gov.hmrc.play.views.helpers._
@import common.Dates._

@(questionAnswer: QuestionAnswerModel[Any])

    <div id=@{s"${questionAnswer.id}-question"} class="grid-layout__column grid-layout__column--1-3">
        <span class="lede">@questionAnswer.question</span>
    </div>
    <div id=@{s"${questionAnswer.id}-answer"} class="grid-layout__column grid-layout__column--1-3">
        <a class="lede" href=@questionAnswer.link.get>
            @{questionAnswer.data match {
            case string: String => string
            case int: Int => int.toString
            case bigDecimal: BigDecimal => s"£${MoneyPounds(bigDecimal, 0).quantity}"
            case date: LocalDate => datePageFormatNoZero.format(date)
            case _ => ""
            }}
        </a>
    </div>
