@import models.nonresident.QuestionAnswerModel
@import java.time._
@import uk.gov.hmrc.play.views.helpers._
@import common.Dates._
@import common.Transformers.booleanToString
@(questions: Seq[(QuestionAnswerModel[Any])])


<tr id="@{s"${question.id}-question"}">
    <td>@question.question</td>
    <td>@{question.data match {
            case string: String => string
            case int: Int => int.toString
            case bigDecimal: BigDecimal => s"£${MoneyPounds(bigDecimal, 2).quantity}"
            case date: LocalDate => datePageFormatNoZero.format(date)
            case boolean: Boolean => booleanToString
            case _ => ""
        }}</td>
    <td class = "change-your-answer">
        <a href="@question.link">Change</a>
    </td>
</tr>